---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Formacion from "../components/Formacion.astro"
import Experiencia from "../components/Experiencia.astro"
import Extracurriculares from "../components/Extracurriculares.astro"
import Competencias from "../components/Competencias.astro"
---

<Layout title="Arturo Rojas - Portfolio">
    <div class="p-10 md:p-0">
        <Header/>
        <article class="flex flex-col space-y-8">
            <Formacion/>
            <Experiencia/>
            <Extracurriculares/>
            <Competencias/>
        </article>
    </div>
</Layout>
