<section class="flex flex-col">
    <h2 class="text-2xl font-semibold mb-4">Habilidades</h2>
    <h3 class="text-gray-700 font-semibold mb-2 mt-3">Habilidades Duras</h3>
        <ul>
            <li class="text-gray-800 list-inside list-disc">Lenguajes de programación: <span class="text-gray-600">JavaScript, PHP, JAVA, C, C++</span></li>
            <li class="text-gray-800 list-inside list-disc">Frontend: <span class="text-gray-600">HTML, CSS, React, Tailwindcss, Astro</span></li>
            <li class="text-gray-800 list-inside list-disc">Backend: <span class="text-gray-600">Node.JS, Express.JS</span></li>
            <li class="text-gray-800 list-inside list-disc">Bases de datos: <span class="text-gray-600">MySQL, PostgreSQL, MongoDB</span></li>
        </ul>
    </div>
    <h3 class="text-gray-700 font-semibold mb-2 mt-3">Habilidades Blandas</h3>
    <ul>
        <li class="text-pretty list-inside list-disc text-gray-800">Resiliencia</li>
        <li class="text-pretty list-inside list-disc text-gray-800">Aprendizaje continuo</li>
        <li class="text-pretty list-inside list-disc text-gray-800">Pensamiento crítico</li>
        <li class="text-pretty list-inside list-disc text-gray-800">Colaboración</li>
        <li class="text-pretty list-inside list-disc text-gray-800">Negociación</li>
        <li class="text-pretty list-inside list-disc text-gray-800">Flexibilidad</li>
    </ul>    
    <h3 class="text-gray-700 font-semibold mb-2 mt-3">Certificaciones</h3>
    <ul>
        <li class="text-pretty list-inside list-disc text-gray-800">Inglés Avanzado B2 - CELEX UPIICSA</li>
        <li class="text-pretty list-inside list-disc text-gray-800">Google Cloud Computing Foundations Certificate - Mayo 2024 - <a class="underline hover:cursor-pointer hover:text-orange-600" target="_blank" href="https://www.credly.com/badges/58f6c530-499e-49ae-b01a-1f1b1524d485/public_url">Link</a>
        </li>
        <li class="text-pretty list-inside list-disc text-gray-800">KICKOFF Agile and Predictive - Febrero 2024 - <a class="underline hover:cursor-pointer hover:text-orange-600" target="_blank" href="https://www.credly.com/badges/fd369b5b-797a-45b7-a993-a776bf3ea0ea/public_url">Link agile</a> - <a class="underline hover:cursor-pointer hover:text-orange-600" target="_blank" href="https://www.credly.com/badges/1533366c-0cb1-4457-8c59-b71e167ed6d1/public_url">Link predictive</a></li>
    </ul>
</section>
