<section class="flex flex-col space-y-1">
    <h2 class="text-2xl font-semibold mb-2">Experiencia Profesional</h2>

    <ul>
        <div class="mb-4">
            <li>
                <ul>
                    <li class="text-gray-700 font-semibold">Eat Your Art <span class="text-gray-500 text-sm font-normal">- Chicoloapan, Estado de México</span></li>
                    <li class="text-gray-600 font-semibold">CEO y Fundador</li>
                    <li class="text-gray-500 text-sm underline decoration-gray-500">2022 - Actualidad</li>
                </ul>
            </li>
            <li class="text-pretty list-inside list-disc text-gray-700">Creé y lidero un negocio de diseño e impresión de productos comestibles para repostería.</li>
            <li class="text-pretty list-inside list-disc text-gray-700">Establezco relaciones sólidas con 5 proveedores y mantengo una base sólida de 20 de clientes con un crecimiento anual del 25% basado en recomendaciones.</li>
        </div>

        <div class="mb-4">
            <li>
                <ul>
                    <li class="text-gray-700 font-semibold">Pastelería y comida para eventos "Sofia" <span class="text-gray-500 text-sm font-normal">- Chicoloapan, Estado de México</span></li>
                    <li class="text-gray-600 font-semibold">Ayudante General</li>
                    <li class="text-gray-500 text-sm underline decoration-gray-500">2019 - Actualidad</li>
                </ul>
            </li>
            <li class="text-pretty list-inside list-disc text-gray-700">Gestiono el suministro de materia prima, la entrega de pedidos y las relaciones con proveedores.</li>
            <li class="text-pretty list-inside list-disc text-gray-700">Diseño material publicitario y productos decorativos para el área de pastelería.</li> 
        </div>

        <div class="mb-4">
            <li>
                <ul>
                    <li class="text-gray-700 font-semibold">GGTECH <span class="text-gray-500 text-sm font-normal">- Benito Juárez, CDMX</span></li>
                    <li class="text-gray-600 font-semibold">Project Manager y Staff</li>
                    <li class="text-gray-500 text-sm underline decoration-gray-500">Julio 2021 - Septiembre 2021</li>
                </ul>
            </li>
            <li class="text-pretty list-inside list-disc text-gray-700">Colaboré en el diseño del reglamento del torneo Lolcito Salvaje Abierto para Riot Games LATAM.</li>
            <li class="text-pretty list-inside list-disc text-gray-700">Verifiqué la elegibilidad de 800 aspirantes y coordiné a 300 jugadores de toda Latinoamérica como referee en el evento en línea y a 50 jugadores y staff de forma presencial.</li>
        </div>
    </ul>
</section>
