<section class="flex flex-col space-y-1">
    <h2 class="text-2xl font-semibold mb-2">Actividades Extracurriculares</h2>

    <ul>
        <div class="mb-4">
            <li>
                <h3 class="text-gray-700 font-semibold">Ciclismo de montaña</h3>
            </li>
            <li class="text-pretty list-inside list-disc text-gray-700">Descubierto durante la pandemia, me ha ayudado a conocer nuevos lugares, mantener una rutina de ejercicio y superar inseguridades.</li>
            <li class="text-pretty list-inside list-disc text-gray-700">Participo anualmente en dos carreras en la categoría intermedios.</li>
        </div>

        <div class="mb-4">
            <li>
                <h3 class="text-gray-700 font-semibold">Edición de video y fotografía</h3>
            </li>
            <li class="text-pretty list-inside list-disc text-gray-700">Utilizo una cámara de acción para grabar y editar videos de mis actividades de ciclismo, eventos y reuniones.</li>
        </div>
    </ul>
</section>




<!-- <section>
    <h2>Actividades extracurriculares.</h2>
    <ul>
        <li>Ciclismo de montaña - Esta actividad la descubrí durante la pandemia y me ha ayudado, entre muchas cosas, a conocer nuevos lugares, a tener rutina de ejercicio y perder miedo a mis inseguridades. Cada año participo dos carreras en la categoría intermedios.</li>
        <li>Edición de video y fotografía - Cuento con un cámara de acción con la cual grabo y edito los videos tomados cuando práctico ciclismo. Así como cuando asisto a algún evento como fiestas o reuniones.</li>
    </ul>
</section> -->