<section class="flex flex-col space-y-1">
    <h2 class="text-2xl font-semibold mb-2">Formación académica.</h2>
    <ul>
        <li class="font-semibold text-gray-700">ESCOM <span class="text-gray-500 text-sm font-normal">- Escuela Superior de Cómputo</span></li>
            <ul>
                <li class="text-gray-600 font-semibold">Ingeniería en Sistemas Computacionales </li>
                <li class="text-gray-500 text-sm">Instituto Politécnico Nacional - (CDMX, México)</li>
                <li class="text-gray-500 text-sm underline decoration-gray-500">2019 - 2025</li>
            </ul>
        <li class="font-semibold text-gray-700 mt-3">CECYT 5</li>
            <ul>
                <li class="text-gray-600 font-semibold">Técnico en Informática</li>
                <li class="text-gray-500 text-sm">Instituto Politécnico Nacional - (CDMX, México)</li>
                <li class="text-gray-500 text-sm underline decoration-gray-500">2016 - 2019</li>
            </ul>
    </ul>
</section>